*{
  padding: 0;
  margin: 0;
}
/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5 rgba(113, 111, 111, 0.637);
} */
.navbar{
  padding: 18px;
  margin: 0 auto;
  max-width: 900px;
  box-shadow: 1px 3px 5px #D4BEE4; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.nav-head{
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 12px;
  color: #3B1E54;
  text-align: center;
}
.nav-head h1{
  margin-left: 10px;
}
.nav-lists{
  width: 29%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-lists a{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  padding: 10px;
}
.nav-lists a:hover{
  background-color: #D4BEE4;
  border-radius: 10px;
  color: #3B1E54;
}
.container{
  max-width: 800px;
  padding: 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  /* box-shadow: 0 0 5px rgba(113, 111, 111, 0.637); */
  border-radius: 10px;
}

.container h1{
  margin-top: 15px;
  text-align: center;
  color: #3B1E54;
  margin-bottom: 10px;
}
.task-preview{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.task-preview:hover{
  box-shadow: 0 0 3px #D4BEE4;
}
.task-tab{
  margin-left: 20px;
}
.task-tab h2{
  font-size: 1.2rem;
  padding: 3px;
}
.task-tab p{
  padding: 2px;
  font-size: 1rem;
}
.button-tabs{
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.button-tabs button{
  padding: 10px;
  background-color: #3B1E54;
  color: white;
  border: none;
  border-radius: 4px;
}
.button-tabs button:hover{
  background-color: #D4BEE4;
  color: #3B1E54;
}

/* styles for form */
.add-task{
  margin: 40px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-task h2{
  text-align: center;
  color: #3B1E54;
  margin-bottom: 20px;
}
.add-task form{
  width: 60%;
  /* border: 1px solid #3B1E54; */
  box-shadow: 0 0 5px #D4BEE4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
}
.add-task form label{
  font-size: 1.2rem;
  padding: 10px;
  text-align: left;
  margin-left: -6px;
}
.add-task form input,textarea{
  padding: 8px;
}
.add-task form button{
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #3B1E54;
  color: white;
  border-radius: 5px;
  border: none;
}
/* profile page styles*/
.profile{
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 5px rgba(113, 111, 111, 0.637); */
  border-radius: 10px;
}
.profile h2{
  text-align: center;
  color: #3B1E54;
  margin-bottom: 30px;
}
.profile-tabs{
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-left: 10px;
}
.profile-tabs button{
  width: 25%;
  padding: 15px;
  font-size: 16px;
  background-color: #3B1E54;
  color: white;
  border: none;
  border-radius: 10px;
}
.profile-tabs button:hover{
  background-color: #D4BEE4;
  color: #3B1E54;
}
.loading{
  text-align: center;
  font-size: 24px;
  color: #3B1E54;
  margin-top: 50px;
}
.task-previewf{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtered-list .task-previewf button{
  width: 12%;
  background-color: #3B1E54;
  color: white;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.filtered-list .task-previewf button:hover{
  background-color: rgb(250, 130, 130);
  color: #3B1E54;
}
.task-previewf:hover{
  box-shadow: 0 0 5px #D4BEE4;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  height: 100px;
}
.modal h2{
  text-align: center;
  font-weight: 700;
}
.modal button{
  background-color: #3B1E54;
  color: white;
  margin-top: 20px;
  margin-left: 35%;
  width: 30%;
  font-size: 1rem;
  height: 40px;
  border: none;
  border-radius: 4px;
}
.modal a{
  text-decoration: none;
  background-color: #3B1E54;
  color: white;
}